
  div.producttablediv{
    text-align: center;
  }

  div.producttable{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
  }

  div.statusbuttons{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    margin: 10px;
   
  }

  button.statusbutton{
    background-color: rgb(80, 78, 179);
  
    color: #e5eee7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 13px;
    border: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;

    border-radius: 1px;
  }

  .producttable tr:hover {
      background-color: rgb(247, 227, 165);
  }

  .producttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #39793b;
    color: white;
  }

  .producttable td, th {
    border: 1px solid #ddd;
    padding: 10px;
  }

    button.delete{
    background-color: rgb(158, 65, 3);
    float: right;
    color: #e5eee7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 15px;
    margin: 5px;
    border: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    border-radius: 1px;
    
  }
  
    a.edit{
      background-color: steelblue;
      float: left;
      color: #e5eee7;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      margin: 5px;
      border: 5px;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 1px;
  }
  
  table{
    border-spacing: 0px;
  }

  h1{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
  }